<!DOCTYPE html>
<html>
<head>
  <title>RailBlog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: teal;">
    <div class="container">
      <a class="navbar-brand" href="/">RailsBlog</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", home_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navbar-right">
          <%= link_to "Create Post", new_post_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content container" role="main">

    <%= yield %>
  </main>
</body>
</html>
